/* global config */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
/* global config */
/* nav bar style */
.navbar{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
}
.navbar > .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    color: white;
}
.logo{
    font-size: 36px;
    font-weight: 700;
    /* color: aqua; */
    background: -webkit-linear-gradient(aqua, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-item{
    cursor: pointer;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin: 0 10px;
    transition: .3s ease-in-out;
}
.nav-item:hover{
    color: aqua;
}
/* nav bar style */

.bar{
    margin-top: 100px;
    margin-left: 100px;
    height: 10px;
    width: 200px;
    /* background-color: gray; */
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
}
.bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: aqua;
    top: 0;
    left: 0;
    border-radius: 10px;
    /* border: 1px solid gray; */
}